*{
box-sizing: border-box;
}
fieldset{
    border: none;
}
body{
    margin: 0;
    margin-bottom: 100px;
}
header{
    padding:10px 0;
    height: 50px;
    background-color: rgb(28, 28, 75);
    text-align: center;
    font-size: 1.5em;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}
.container{
    max-width: 90%;
    font-size: .8em;
    margin:auto;
    text-align: center;
    /* border: 3px solid red; */
}

.bin{
    max-width: 90%;
    margin: auto;
}

.container h1{
    margin-top:20px;
}
.container p{
    margin-top: 10px;
    margin-bottom: 3px;
    font-size: 1.6em;
    border-bottom: black solid 5px;
    padding-bottom: 30px;
}

/* =====FORM SECTIONS==== */
.top-section{
font-size: 1.4em;
border-top: 2px black solid;
border-bottom: 2px black solid;
background-color: white;
/* border: 3px solid red; */
padding: 30px 0;
margin-bottom: 30px;
}


.bottom-section label{
    display: inline-block; 
    margin: 8px;
}
.bottom-section textarea{
    background-color: lightgray;
    min-height: 80px;
    display: inline-block;
    width: 100%;
}
/* trying to hit teh areacode part of form */

code{
background-color: blue;
}

input#name,
input#mail{
background-color: yellow; 

}
/* ==== sudo elementa===== */
input#mail::placeholder,
input#name::placeholder{
    text-align: right;
}

input#zip-code{
max-width: 50%;

}

legend{
font-size: 1em;
font-weight: bold;
/* background-color: yellow;
border: 3px solid blue; */

}

.tester select,
.tester input{
    background-color: lightgray;
    padding: 15px;
    border: none;
    width: 100%;
    border-radius: 5px;
}
 .tester label{
    margin-top: 10px;
    display: block;
    margin: 5px 0;

}

.news-header{
    font-size: 1.3em;
}
.bottom-section button{
    width: 100%;
    min-height: 50px;
    margin:25px 0px;
    font-size: 1.2em;
    color:white;
    background-color: lightseagreen;
}
h2{
    text-align: center;
    margin-top:0;
    
    margin-bottom: 40px;

}



/* ====MEDIA QUERIES ===== */

/* @media (min-width: 768px){
    body{
        background-color: red;
        
    }
    .tester label{
        border:3px solid red;
        max-width: 30%;
        float: left;
        margin-bottom: 20px;
    }
    .tester input{
        max-width: 70%;
        float: right;
        margin-bottom: 20px;
    } */


}